<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= CAFE.name%></title>
</head>
<body>
    <!-- <h1>Home Page</h1> -->
    <%- include('./partials/nav') %>
    
        <p> name:<%= CAFE.name%><br>address:<%=CAFE.address%><br> phone: <%=CAFE.phone%></p>
        <% if (CAFE.isOpen) {%>
        <h3>Yes we are open!</h3>
        <%} else { %>
        <h3>Sorry, we are closed</h3>
        <% } %>

</body>
</html>